body {
    background-image:url(https://i.pinimg.com/736x/4f/8d/78/4f8d78f0571f3a581f09837b007ac468.jpg);
    background-color: cornsilk;
    background-repeat:round;
}
h1 {
    color: beige;
    font-size: 4em;
    text-align: center;
    margin-bottom: 2em;
}

#btn1, #btn2, #btn3, #btn4 {
    background-color: crimson;
    color: black;
    font-size: 2em;
    font-family: serif, "Times New Roman";
    align-content: center;
    padding: 1em 1em 1em;
    border-style: groove;
    border-color:bisque;
    border-width: thick;
    margin-left: 33em;
}
.snowman {
  display: grid;
  place-items: center;
}

.ui.pointing.menu .active.item:after {
  background-color: #aba7ff ;
}

.ui.pointing.menu .item:after {
  background: cyan;
  border: 5px solid lightsalmon;
  border-bottom: 4px solid cyan;
  border-right: 4px solid darkgreen ;
  width: 1.3em;
  height: 1.3em;
  margin-top: 10px;
}
.ui.pointing.menu {
    background-color: lavenderblush;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 0.9em;
    border: 5px solid lightsalmon;
    margin-bottom: 5em;
}
.ui.pointing.menu .item:hover {
    background-color: #aba7ff ;
    color: yellow;
}
.ui.pointing.menu .item {
   text-transform: uppercase;
}


nav {
    background-color: lavenderblush;
    border-radius: 30px;
    border: 1px solid mediumorchid;
    margin-top: 1.5em;
    margin-right: 300px;
    margin-left: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}

nav a {
    font-size: 150%;
    text-transform: uppercase;
    margin: 1em 2em 1em;
    line-height: 40px;
    align-items: stretch;
    text-align: center;
    padding: 0.3em 1.5em 0.3em 1.5em;
    display:flex;
    border-radius: 12px;
       
}

